.table {
    display: grid;
    grid-template-columns: 10rem repeat(20, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.table__item {
    align-self: center;
    justify-self: center;
}

.table__item-current {
    align-self: center;
    justify-self: center;
    height: 80%;
    width: 80%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
